

.row {
  width: 240px;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  .square {
    float: left;
    cursor: pointer;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #eee;
    font-size: 30px;
    border-radius: 0;
  }
}
